1 ^Forward^
2 ^Right^
3 ^Backward^
4 ^Left^
5 ^North^
6 ^East^
7 ^West^
8 ^South^
9 ^Loading^
10 ^Select Difficulty^
11 ^Both players must agree to continue.^
12 ^Easy^
13 ^Normal^
14 ^Hard^
15 ^Charisma^
16 ^Logic^
17 ^Waiting...^
18 ^Thread Lost^
19 ^Your partner disconnected^
20 ^You ran out of time^
21 ^Thread Connected!^
22 ^Maze Payout^
23 ^Skill Bonus^
24 ^Total Profit^
25 ^Gameover^
26 ^You successfully connected the thread! Perhaps one day MOMI can be returned to their former glory...^
27 ^Your Moves^
28 ^Partner's Moves^
29 ^Total Time^
